DIconButton
{
background-color: transparent;
}
#bt_play{
    background-color: transparent;
}

#bt_play:hover, #bt_pre:hover, #bt_stop:hover, #bt_next:hover, #bt_volume:hover, #bt_screen:hover {
    background-color: #f1f1f1;
}

#bt_play:active, #bt_pre:active, #bt_stop:active, #bt_next:active, #bt_volume:active, #bt_screen:active {
    background-color: #ccc;
}


